[Unit]
Description=robonomics
After=network.target

[Service]
User={{ SERVICE_NAME }}
Group={{ SERVICE_NAME }}
Type=simple
Restart=on-failure

ExecStart=/usr/local/bin/robonomics \
    --name "{{ name }}" \
    {% if CUSTOM_SPEC == true %}--chain {{ USER_PATH }}/spec.json{% endif %} \
    --parachain-id {{ PARACHAIN_ID }} \
    --telemetry-url "{{ TELEMETRY_URL }}" \
    --validator \
    --lighthouse-account "{{ LIGHTHOUSE_ACCOUNT }}" \
    --in-peers 500 \
    --out-peers 500 \
    --no-mdns \
    --port 30333 \
    --execution Wasm \
    --prometheus-port 9615 \
    -- \
    --execution Wasm \
    --in-peers 500 \
    --out-peers 500 \
    --port 30334 \
    --prometheus-port 9616

[Install]
WantedBy=multi-user.target