[Unit]
Description={{ SERVICE_NAME }}
After=network.target

[Service]
User={{ SERVICE_NAME }}
Group={{ SERVICE_NAME }}
Type=simple
Restart=on-failure

ExecStart=/usr/local/bin/{{ BINARY_NAME }} \
{% if PARACHAIN_SPEC_PATH is defined %}--chain={{ PARACHAIN_SPEC_PATH }} \
{% endif %}
{% if SERVICE_CHAIN is defined %}--chain={{ SERVICE_CHAIN }} \
{% endif %}
{% if PARACHAIN_ID >= 2000 %}--parachain-id={{ PARACHAIN_ID }} \
{% endif %}
{% if PARACHAIN_PROMETHEUS_EXTERNAL == true %}--prometheus-external \
{% endif %}
--base-path={{ BASE_PATH }} \
--telemetry-url="{{ TELEMETRY_URL }}" \
--name="{{ inventory_hostname }}" \
--validator \
{% if LIGHTHOUSE_ACCOUNT is defined %}
--lighthouse-account="{{ LIGHTHOUSE_ACCOUNT }}" \
{% endif %}
--no-mdns \
--execution=Wasm \
--state-cache-size=0 \
{% if IS_ARCHIVE_COLLATOR is defined and IS_ARCHIVE_COLLATOR  == true %}--state-pruning=archive \
{% endif %}
-- \
{% if RELAYCHAIN_SPEC_PATH is defined %}--chain={{ RELAYCHAIN_SPEC_PATH }} \
{% endif %}
{% if RELAYCHAIN_PROMETHEUS_EXTERNAL == true %}--prometheus-external \
{% endif %}
--sync={{RELAYCHAIN_SYNC}} \
--execution=Wasm

[Install]
WantedBy=multi-user.target