[Unit]
Description={{ SERVICE_NAME }}
After=network.target

[Service]
User={{ SERVICE_NAME }}
Group={{ SERVICE_NAME }}
Type=simple
Restart=on-failure

ExecStart=/usr/local/bin/{{ BINARY_NAME }} \
{% if PARACHAIN_SPEC_PATH is defined %}--chain={{ PARACHAIN_SPEC_PATH }} \
{% endif %}
{% if SERVICE_CHAIN is defined %}--chain={{ SERVICE_CHAIN }} \
{% endif %}
{% if PARACHAIN_ID >= 2000 %}--parachain-id={{ PARACHAIN_ID }} \
{% endif %}
{% if PARACHAIN_PROMETHEUS_EXTERNAL == true %}--prometheus-external \
{% endif %}
--base-path={{ BASE_PATH }} \
--telemetry-url="{{ TELEMETRY_URL }}" \
--name "{{ inventory_hostname }}" \
--state-pruning=archive \
--rpc-cors=all \
--ws-max-connections=1000 \
--no-mdns \
--execution=Wasm \
-- \
{% if RELAYCHAIN_SPEC_PATH is defined %}--chain={{ RELAYCHAIN_SPEC_PATH }} \
{% endif %}
{% if RELAYCHAIN_PROMETHEUS_EXTERNAL == true %}--prometheus-external \
{% endif %}
--execution=Wasm

[Install]
WantedBy=multi-user.target