[Unit]
Description={{ SERVICE_NAME }}
After=network.target

[Service]
User={{ SERVICE_NAME }}
Group={{ SERVICE_NAME }}
Type=users
WorkingDirectory={{ USER_PATH }}
Restart=on-failure
ExecStart=/usr/local/bin/polkadot \
--chain={{ SPEC_PATH }} \
--base-path={{ BASE_PATH }} \
--execution=Wasm \
--force-rococo \
--in-peers=500 \
# --kademlia-disjoint-query-paths \
--name={{ inventory_hostname }} \
--out-peers=500 \
--prometheus-external \
--pruning=archive \
--trie-cache-size=0 \
--rpc-cors=all

[Install]
WantedBy=multi-user.target